.container-register {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-register input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.invalid-password {
    color: red;
    display: block;
    margin: 10px 0;
}
