.container-register {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-register input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.container-register .error-message {
    color: red;
    display: block;
    margin: 10px;
}
.container-register button {
    margin: 10px;
}

.container-register .login-link {
    padding: 10px;
}
