body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  padding: 8px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
  margin: 8px;
}

.container, button {
  background-color: #8A24B2;
  color: white;
  border: solid 3px transparent;
}

.hover-effect:hover, *:focus {
  border: solid 3px #4b20e9;
  box-shadow: 4px 4px 4px 1px rgb(141, 141, 141);
}


