body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  padding: 8px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
  margin: 8px;
}

.container, button {
  background-color: #8A24B2;
  color: white;
  border: solid 3px transparent;
}

.hover-effect:hover, *:focus {
  border: solid 1px #4b20e9;
  box-shadow: 4px 4px 4px 1px rgb(141, 141, 141);
}

input {
  border: solid 1px #c1c1c1;
  border-radius: 18px;
  outline: none;
  height: 30px;
  display: flex;
  flex: 100%;
  padding-left: 30px;
}

input:invalid {
  border: 1px solid red;
}

a:link {
  color: #4b20e9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #8A24B2;
}


