.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    margin: auto;
    width: 50%;
    text-align: center;
}

.container-header.big h1 {
    font-size: 3rem;
}

.container-header.big img {
    width: 3rem;
}

.container-header img {
    padding-right: 10px;
    transform: rotate(-8deg);
}

.container-header h1::first-letter {
    color: #8A24B2;
}

.container-login-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
