@import url(https://fonts.googleapis.com/css?family=Lato:900);

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 0 20px;
    position: fixed;
    height: 50px;
    top: 0;
}

.navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    left: 0;
}

.navbar-right {
    right: 0;
}

.navbar-left .menu,
.navbar-right .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 20px;
}

.navbar-left .menu li,
.navbar-right .menu li {
    padding: 0 10px;
}

.container-header h1 {
    display: -webkit-inline-box;
}

.container-header.big h1 {
    font-size: 1.5em;
    margin: 0;
}

.container-header.big img {
    width: 2.5em;
}

.container-header img {
    padding-right: 10px;
    transform: rotate(-8deg);
}

.container-header h1::first-letter {
    color: #8A24B2;
}
