.root-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    padding: 40pt;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 4px 4px 4px 1px rgb(210, 210, 210);
}

.container-login input {
    justify-content: center;
    align-items: center;
}

.container-login div {
    flex-direction: row;
}

.container-login .error-message {
    color: red;
}

.container-login button {
    margin: 10px;
}

.container-login input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.container-login .register-link {
    padding: 10px;
}
